<% provide(:title, @post.title) %>
<div class="row">
	<aside class="span4">
		<section>
<h1>
  <%= @post.title %>
</h1>
</section>
</aside>
<div class="span8">
       <h3>
       	<%= @post.content %>
       </h3>
	</div>
</div>